@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "GetRole";
}
@{
    Html.RenderPartial("_SideBar");
}

<div class ="new-container">
    <div class="p-3">
        <div class="row pt-3">
            <div class="col-6">
                <h2><b>List of Roles</b></h2>
            </div>
            <div class="col-6 text-end">
                <a asp-controller="User" asp-action="AddRole" class="me-sm-1 btn btn-primary">
                    <i class="bi bi-plus-circle"></i> &nbsp; Add Role
                </a>
                <a asp-controller="User" asp-action="Dashboard" class=" btn btn-light">
                    Back to Dashboard
                </a>
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model)
            {
                <tr>
                    <td>@role.Id</td>
                    <td>@role.Name</td>
                    <td style="text-align: center">
                        <div class="w-75 btn-group" role="group">
                            <a onclick="Delete('/Admin/User/RemoveRole/@role.Id')"
                           class="btn btn-warning mx-2"><i class="bi bi-trash"></i> Remove Role</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        function Delete(url) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: url,
                        type: 'DELETE',
                        success: function (data) {
                            if (data.success) {
                                // Role deleted successfully, show success message
                                Swal.fire("Deleted!", "Role Deleted Successfully!", "success");
                                setTimeout(function () {
                                    window.location.href = '/Admin/User/GetRole';
                                }, 1500);
                            } else {
                                // Role deletion failed, show error message
                                Swal.fire("Error!", "@TempData["error"]", "error");
                            }
                        }
                    })
                }
            })
        }
    </script>
}
